* //{
	outline: 1px solid red;
	max-width: 100%;
}

html, body{
margin: 0px;

}
body {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	font-size:  18px;
	font-family: 18px/30px Georgia, serif;
	text-align:center;
	margin: 0;
	padding: 0 20px;
	-webkit-font-smoothing: antialiased;
}

.header{
	position: relative;
	margin-bottom: 25px;
}

.container{
	border-bottom: 2px solid grey;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	position: relative;

}

/**** Header ****/

.headerTop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.logo{
	background: transparent url("/assets/images/logo2.png") no-repeat left top;
	background-size: 100% auto;
	display: inline-block;
	width: 800px;
	height: 180px;
}

.followUs .fa {
	font-size: 20px;
	width: 30px;
	height: 30px;
	text-decoration: none;
	margin: 5px 2px;
	padding: 0;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: font-size 0.3s ease;
}

.followUs .fa:hover {
	font-size: 15px;
}

.followUs .fa:hover {
    opacity: 0.7;
}

.followUs .fa-facebook {
	background: #3B5998;
	color: white;
}

.followUs .fa-youtube {
	background: #bb0000;
	color: white;
}

.followUs .fa-instagram {
	background: #c75d20;
	color: white;
}

.mainMenu{
	background-color: rgb(228, 153, 203);
	padding: 15px;
	margin-top: 0px;
}

a {
	color: rgb(0, 0, 0);
	font-weight: bold;
	padding: 20px;
	margin:15px;
	text-decoration: none;
}


h1 {
	padding: 20 20 20 0;
	color: rgb(170, 10, 10);
	text-align: left;
}


h3 {
	font-size: 20px;
	margin-top: 100px;
	text-align: left;
	color: rgb(170, 10, 10);
}

/* ARTICLE */
article {
	margin: 20px 25%;
	padding: 0px;
	text-align: left;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}


.firstpart{
	margin-left: 0px;
	margin-right: 0px;
	font-size: 22px;

}

ol li {
	margin-bottom: 15px;
}

.instaodkaz {
	margin: 0px 5px 0px 5px;
	padding:0px 15px 0px 15px;
	background-color: rgb(155, 155, 155);
	border-radius: 10px;
	word-wrap: break-word;
}

h4{
	font-style: italic;
	text-align: left;
	margin-top: 100px;
	font-size: 18px;
	margin-bottom: 0px;
}
.historie{
	text-align: left;
	font-style: italic;
	font-size: 17px;
	margin-bottom: 150px;
}


footer p a{
	margin: 0px;
	padding: 0px;
}

.pre-footer{
	border-top: 1px dotted rgb(80, 80, 80);
	border-bottom:1px dotted rgb(80, 80, 80);
	background-color: #ddd;
	text-align: center;
	margin: 0px;
	padding: 10px 10%;
	max-width: auto
}

.reviews {
	display: flex;
	flex-direction: row;
	list-style:none;
	overflow: hidden;
}

.reviews blockquote {
	font-style: italic;
	margin: 10px auto;
	margin-left: 40px;
	text-align: left;
}

.reviews__item{
	line-height: 22px;
	font-size: 16px;
	width: 220px;
	position: relative;
	text-align: left;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reviews__item:last-child {
	margin-right: 0;
}

.reviews__item:before {
	content: '“ ';
	color: rgb(170, 10, 10);
	font-size: 80px;
	font-style: italic;
	position: absolute;
	top: 20px;
	left: -10px;
}

.reviews .review-byline{
	font-style: italic;
	font-weight: bold;
	text-align: right;
	margin: 0px;

}

footer {
	margin:0px;
	background-color: black;
	color: bisque;
	font-size: 17px;
	padding:20px;
	line-height: 14px;
}

footer p a {
	background-color: rgb(155, 155, 155);
	line-height: 30px;
	padding: 5px;
	border-radius: 5px;
}

.material-icons{
	font-size: 36px;
	color: rgb(170, 10, 10);
	margin: 0px;
	padding:0px;
}

.footerSocials {
	width: 300px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-start;
}

.footerSocials__item {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.footerSocials__item i {
	margin-right: 20px;
}
