body{
	color: rgb(0, 0, 0);
	background-image: -webkit-gradient(linear, left bottom,left top, color-stop(0.03, rgb(0, 0, 0)), color-stop(0.26, rgb(115, 0, 36)), color-stop(0.72, rgb(255, 255, 255)));
	background-image: -o-linear-gradient(top, rgb(0, 0, 0) 3%, rgb(115, 0, 36) 26%, rgb(255, 255, 255) 72%);
	background-image: -moz-linear-gradient(top, rgb(0, 0, 0) 3%, rgb(115, 0, 36) 26%, rgb(255, 255, 255) 72%);
	background-image: -webkit-linear-gradient(top, rgb(0, 0, 0) 3%, rgb(115, 0, 36) 26%, rgb(255, 255, 255) 72%);
	background-image: -ms-linear-gradient(top, rgb(0, 0, 0) 3%, rgb(115, 0, 36) 26%, rgb(255, 255, 255) 72%);
	background-image: linear-gradient(to top, rgb(0, 0, 0) 3%, rgb(115, 0, 36) 26%, rgb(255, 255, 255) 72%);
	text-align:center;
	margin: 0;
	padding: 0 20px;
	-webkit-font-smoothing: antialiased;
}

.header{
	position: relative;
	margin-bottom: 25px;
}

.container{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	position: relative;
}

.headerTop{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.logo{
	background: transparent url("/assets/images/logo01.png") no-repeat left top;
	background-size: 100% auto;
	display: inline-block;
	width: 800px;
	height: 180px;
}

.followUs .fa{
	font-size: 20px;
	width: 30px;
	height: 30px;
	text-decoration: none;
	margin: 5px 2px;
	padding: 0;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: font-size 0.3s ease;
}

.followUs{
	padding-right: 20px;
}

.followUs .fa:hover{
	font-size: 15px;
}

.followUs .fa:hover{
    opacity: 0.7;
}

.followUs .fa-facebook{
	background: #3B5998;
	color: white;
}

.followUs .fa-youtube{
	background: #bb0000;
	color: white;
}

.followUs .fa-instagram{
	background: #c75d20;
	color: white;
}

.mainMenu{
	background-color: rgb(128, 0, 70);
	padding: 15px;
	margin-top: 0px;
	font-family: 'Luxurious Roman', cursive;
	font-size: 20px;
}

a:hover{
		text-decoration: underline;
}

a{
	color: rgb(179, 174, 174);
	font-weight: bold;
	padding: 20px;
	margin:15px;
	text-decoration: none;
}

h1{
	padding: 50px 0;
	color: rgb(128, 0, 70);
	text-align: center;
	font-family: 'Luxurious Roman', cursive;
	font-size: 2em;
}

h3{
	font-size: 20px;
	margin-top: 100px;
	text-align: left;
	color: rgb(128, 0, 70);
}

article{
	margin: 20px 25%;
	padding: 0px;
	text-align: left;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-family:'Luxurious Roman', cursive;
}

.firstpart{
	margin-left: 0px;
	margin-right: 0px;
	font-size: 22px;
}

ul ol li{
	margin-bottom: 15px;
	line-height: 25px
}

.instaodkaz{
	margin: 0px 5px 0px 5px;
	padding:0px 15px 0px 15px;
	background-color: rgb(53, 53, 53);
	border-radius: 10px;
	word-wrap: break-word;
}

h4{
	font-style: italic;
	color: rgb(128, 0, 70);
	text-align: left;
	margin-top: 100px;
	font-size: 18px;
	margin-bottom: 0px;
}

.historie{
	text-align: left;
	font-style: italic;
	font-size: 17px;
	margin-bottom: 150px;
}

.citat_levy:before{
	content: '“';
	color: rgb(77, 76, 76);
	font-size: 120px;
	font-style: italic;
	position: absolute;
	top: 30px;
	left: 20px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-family:'Luxurious Roman', cursive;
}

.citat_levy{
	list-style: none;
	text-decoration: none;
	text-align: left;
	padding-left: 50px;
	height: auto;
	max-width: 250px;
	float: left;
	display: flex;
	position: absolute;
	padding-top: 50px;
	font-style: italic;
	font-family: 'Dancing Script'
}

.citat_levy_bl{
	color: rgb(77, 76, 76);
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	width: 350px;
}

.pre-footer{
	color: rgb(231, 231, 231);
	background-color: none;
	padding: 30px 80px;
	max-width: 100%;
}

.reviews{
	display: flex;
	flex-direction: row;
	list-style:none;
	overflow: hidden;
	margin: 50px;
}

.reviews blockquote{
	font-style: italic;
	margin: 10px 10px;
	text-align: left;
}

.reviews li:before{
	content: '“ ';
	color: rgb(231, 231, 231);
	font-size: 80px;
	font-style: italic;
	position: relative;
	top: -20px;
	left: -10px;
	float: left;
}

.reviews .review-byline{
	font-style: italic;
	font-weight: bold;
	text-align: right;
	margin: 0px;
}

footer{
	background-color:none;
	color: rgb(231, 231, 231);
	font-size: 17px;
	padding:20px;
	line-height: 14px;
	margin:0px;
	border-top: solid;
	margin-top: 500px;
}

footer p a{
	line-height: 30px;
	padding: 5px;
	border-radius: 5px;
}

article p:last-child{
	color: rgb(226, 226, 226);
	font-size: 20px;
}

article p:last-child a{
	color: rgb(143, 143, 143);
}

.material-icons{
	font-size: 36px;
	color: rgb(128, 0, 70);
	margin: 0px;
	padding:0px;
}

.footerSocials{
	width: 300px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-start;
}

.footerSocials__item{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.footerSocials__item i{
	margin-right: 20px;
}

article p a{
	color: rgb(241, 0, 0);
	font-weight: bold;
	margin-left: -10px;
	text-decoration: none;
	font-size: 20px;
}

article ul a {
	color: rgb(241, 0, 0);
	font-weight: bold;
	margin-left: -10px;
	text-decoration: none;
	font-size: 20px;
}
html, body{
	margin: 0px;
	padding: 0px;
	width: 100%;
}